[project]
	description = Tux Resistor is an Interactive Electronics Tool which can be used to convert Resitor color bands to Resistor values and vice versa.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vivek R (vividvilla)
[access "refs/for/refs/*"]
	read = group user/Vivek R (vividvilla)
	push = group user/Vivek R (vividvilla)
	label-Code-Review = -2..+2 group user/Vivek R (vividvilla)
	label-Verified = -1..+1 group user/Vivek R (vividvilla)
	rebase = group user/Vivek R (vividvilla)
	removeReviewer = group user/Vivek R (vividvilla)
	submit = group user/Vivek R (vividvilla)
[access "refs/heads/*"]
	read = group user/Vivek R (vividvilla)
	create = group user/Vivek R (vividvilla)
	push = +force group user/Vivek R (vividvilla)
	pushMerge = group user/Vivek R (vividvilla)
[access "refs/tags/*"]
	push = +force group user/Vivek R (vividvilla)
	pushTag = group user/Vivek R (vividvilla)
	pushSignedTag = group user/Vivek R (vividvilla)
